{% extends 'base/base.html' %}

{% block content %}
    <!-- {% include 'base/navbar.html' %} -->

    <section>
        {% include 'base/second_navbar.html' %}

        <div class="container mt-5">

            <div class="row">
                <div class="col s6">
                    <h5>update your profile {{ user.username }}</h5>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" class="btn blue" value="submit">
                    </form>
                </div>



            </div>

        </div>
    </section>

{% endblock %}

{% block js %}


    <script>

    </script>


{% endblock %}
