<nav  >
    <div class="nav-wrapper blue">
      <div class="container">
        <a href="{% url 'home' %}" class="brand-logo">
          <i class="material-icons">home</i>
      </a>
      <ul id="nav-mobile" class="right z-depth-0 hide-on-med-and-down">
        <li><a  href="{% url 'file_list' %}">Files</a></li>
        <li><a  href="{% url 'register' %}">Feedback</a></li>
        <li><a  href="{% url 'register' %}">Profile</a></li>
        <li><a  href="{% url 'login' %}">Logout</a></li>
      </ul>
      </div>
    </div>
  </nav>
  