<nav class="">
    <div class="nav-wrapper yellow darken-2 ">
        <div class="container">
            <a href="{% url 'home' %}" class="brand-logo">
                <i class="material-icons">home</i>
            </a>
            <ul id="nav-mobile" class="right z-depth-0 hide-on-med-and-down">
                {% if user.is_authenticated %}
                <li><a href="{% url 'file_list' %}">Files</a></li>
                <li><a href="{% url 'profile_detail' %}">Profile</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
  