{% load static %}
<section id="features">

    <div class="row">
        <div class="col s12 center">
            <h3 class="white-text">FEATURES</h3>
        </div>
    </div>
    <div class="row mt-5 white-text">
        <div class="col s6">
            <div class="feature-item">
                <i class="material-icons feature-icon">add</i>
                <div class="feature-content ml-2">
                    <div class="item-text">Cross PlatForm</div>
                    <p>One of the top advantages of modern encryption technology is that you can apply it to all or most
                        of the tech devices you use.</p>
                </div>

            </div>
        </div>

    </div>

</section>