{% load static %}
<section id="features">

    <div class="row">
        <div class="col s12 center">
            <h3 class="white-text">FEATURES</h3>
        </div>
    </div>
    <div class="row mt-5 white-text">
        <div class="col s6">
            <div class="feature-item">
                <i class="material-icons feature-icon">add</i>
                <div class="feature-content ml-2">
                    <div class="item-text">Cross PlatForm</div>
                    <p>One of the top advantages of modern encryption technology is that you can apply it to all or most
                        of the tech devices you use.</p>
                </div>

            </div>
        </div>
        <div class="col s6">
            <div class="feature-item">
                <i class="material-icons feature-icon">card_membership</i>
                <div class="feature-content ml-2">
                    <div class="item-text">Avoid Regulatory Fines</div>
                    <p>For example, in the health care sector, patient privacy laws require keeping information
                        encrypted. Organizations receive significant fines for noncompliance.</p>
                </div>

            </div>
        </div>
        <div class="col s6 mt-5">
            <div class="feature-item">
                <i class="material-icons feature-icon">perm_data_setting</i>
                <div class="feature-content ml-2">
                    <div class="item-text">Data Integrity</div>
                    <p>Something else to keep in mind about encryption technology for data protection is that it helps
                        increase the integrity of the information alone. Indeed, encryption alone does not guarantee
                        this, but it’s something you can and should use as part of an overall strategy.</p>
                </div>

            </div>
        </div>
        <div class="col s6 mt-5">
            <div class="feature-item">
                <i class="material-icons feature-icon">security</i>
                <div class="feature-content ml-2">
                    <div class="item-text">Increase Trust</div>
                    <p>Even when not required to encrypt data due to privacy regulations, some companies choose to do so
                        to show their clients they take privacy seriously. Making that assertion is particularly
                        important due to the eroding trust many people have in the internet.</p>
                </div>

            </div>
        </div>

    </div>

</section>