{% load static %}

<section id="technology">
    <div class="container">

        <div class="row">
            <div class="col s12 center mt-5">
                <h3 class="white-text">Technologies We Using</h3>
            </div>
            <div class="col s4 center mt-5">
                <img width="250px" height="150px" src="{% static 'assets/django.png' %}" alt="django">
            </div>
            <div class="col s4 center mt-5">
                <img width="150px" height="150px" src="{% static 'assets/python.png' %}" alt="django">
            </div>
            <div class="col s4 center mt-5">
                <img width="150px" height="150px" src="{% static 'assets/javascript.png' %}" alt="django">
            </div>
        </div>
    </div>
</section>