{% load static %}

<section id="video-sec">
    <div class="row ">
        <div class="col s6 mt-5">
            <h3 class="white-text">About Triple Des Encryptioin</h3>
            <p class="white-text">
                In cryptography, Triple DES (3DES or TDES), officially the Triple Data Encryption Algorithm (TDEA or
                Triple DEA), is a symmetric-key block cipher, which applies the DES cipher algorithm three times to each
                data block. The Data Encryption Standard's (DES) 56-bit key is no longer considered adequate in the face
                of modern cryptanalytic techniques and supercomputing power. However, an adapted version of DES, Triple
                DES (3DES), uses the same algorithm to produce a more secure encryption.
            </p>

            <div class="row">
                    <a href="{% url 'register' %}" class="btn black white-text ml-2">join now</a>
            </div>
        </div>
        <div class="col s6 mt-5">
            <div class="ml-5">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/2O4dsChgcg8" frameborder="0"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
            </div>
        </div>
    </div>


</section>