{% extends 'base/base.html' %}

{% block content %}
    <!-- {% include 'base/navbar.html' %} -->

    <section id="home-file">
        {% include 'base/second_navbar.html' %}
        <div id="particles-js" style="display: none">
        </div>

        {#        <div class="container mt-5">#}
        {#            <div class="row">#}
        {#                <div class="col">#}
        {#                    <h3> Files </h3>#}
        {#                </div>#}
        {#            </div>#}
        {#            <div class="row">#}
        {#                <div class="col">#}
        {#                    <a href="{% url 'add_file' %}" class="btn">upload new file</a>#}
        {#                </div>#}
        {#            </div>#}
        {##}
        {#            <div class="row">#}
        {#                {% for encryptedfile in encryptedfile_list %}#}
        {#                    <div class="col-lg-12 image-card">#}
        {#                        <div class="row card">#}
        {#                            <div class="col s6 " style="padding: 8px">#}
        {#                                <h4>{{ encryptedfile.file_name }}</h4>#}
        {#                                <p class="teal-text">Uploaded at : {{ encryptedfile.created_at }}</p>#}
        {#                                <a href="{% url 'file_detail' pk=encryptedfile.id %}" class="btn btn-flat white-text btn-small brown">view detail</a>#}
        {#                            </div>#}
        {#                            <div class="col s6" style="padding: 18px">#}
        {#                                <div class="right-align">#}
        {#                                    <a data-id="{{ encryptedfile.id }}" id="dowload-btn" class="btn-floating btn-flat btn-small blue waves-effect waves-light ">#}
        {#                                        <i class="material-icons">vertical_align_bottom</i></a>#}
        {##}
        {#                                </div>#}
        {#                            </div>#}
        {#                        </div>#}
        {#                    </div>#}
        {#                {% endfor %}#}
        {##}
        {#            </div>#}
        {##}
        {#        </div>#}

        <div class="row">
            <div class="col s4 mt-5">
                <div class="container">
                    <img src="https://source.unsplash.com/random" alt="profile image" width="250px"
                         height="250px"
                         class="profile-img">
                </div>
            </div>
            <div class="col s8 mt-5">
                <div style="display: flex; align-items: center;" class="header">
                    <h4>{{ user.username | capfirst }}</h4>
                    <i class="material-icons">location_on</i>
                    <p class="blue-grey-text">address location</p>
                </div>
                <a href="#">{{ user.email | capfirst }}</a>
                <hr class="blue-grey">

                <div class="row ">
                    <div class="col s12">
                        <ul id="tab" class="tabs">
                            <li class="tab col s3"><a href="#test1">File</a></li>
                            <li class="tab col s3"><a class="active" href="#test2">About</a></li>
                        </ul>
                    </div>
                    <div id="test1" class="col s12">Test 1</div>
                    <div id="test2" class="col s12">
                        <h6 class="grey-text" >Contact Information</h6>
                        <div class="contact-item">
                            <p class="grey-text"> phone Number : </p>
                            <p > 123456 </p>
                        </div>
                         <div class="contact-item">
                            <p class="grey-text"> Addrss : </p>
                            <p > first, second ,third </p>
                        </div>

                         <div class="contact-item">
                            <p class="grey-text"> Email : </p>
                            <p > {{ user.email | capfirst }} </p>
                        </div>

                         <div class="contact-item">
                            <p class="grey-text"> Date of Birth : </p>
                            <p > date of birth </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </section>

{% endblock %}


{% block js %}
    <script>


        $(document).ready(function () {

            let tabs = document.getElementsByClassName('tabs');

            var instance = M.Tabs.init(tabs, {})
            $('.tabs').tabs();


            const image_url = document.getElementById('image_url');

            $('.image-card #dowload-btn').click(function (e) {

                let password = prompt("Enter password ");

                const itemId = $(this).attr('data-id');
                if (password !== "") {
                    dowloadImageUsingKey($(this), itemId, password);
                } else {
                    alert("nothing Entered")
                }


            });

            function dowloadImageUsingKey(element, itemId, password) {
                $.ajax({
                    url: "/files/download/" + parseInt(itemId),
                    method: 'post',
                    data: {
                        'data': password
                    },
                    success: data => {
                        console.log(data)

                        if (data.isAutheticated) {
                            let a = document.createElement('a');

                            let icon = document.createElement('i');
                            icon.className = "material-icons";
                            icon.innerText = "cloud_download";

                            a.appendChild(icon)
                            a.href = "/media/" + data.file
                            a.style.fontWeight = "bold";
                            a.style.textAlign = "right";
                            a.style.margin = "32px 4px";
                            a.style.textTransform = "uppercase";


                            element.css('text-align', 'center')

                            element.parent().append(a)
                        } else {
                            alert("incorrect key")
                        }


                    },
                    failure: error => console.log(error)
                })
            }

        })

    </script>
{% endblock %}
