
{% extends 'base/base.html' %}

{% block content %}
{% include 'base/second_navbar.html' %}

<section>
	<div class="container mt-5">
        <div class="row">
            <div class="col">
                <h3>Add new Cityzen</h3>
            </div>
        </div>
		<div class="row">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn" type="submit"  >save</button>
            </form>
		</div>
	</div>
</section>

{% endblock %}

