{% extends 'base/base.html' %}


{% block content %}
{% include 'base/second_navbar.html' %}

<section>
	<div class="container">
        <div class="row mt-5">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <h3 class="center-align" >Login</h3>
                <form  method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn" type="submit" >Login</button>
                </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <a href="{% url 'register' %}" class="right-align">Not have account Register here</a>
            </div>
        </div>
    </div>
</section>

{% endblock %}